@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  height: max-content;
  background-color: rgb(85, 85, 85);
}
main {
  height: max-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}
.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 5% 10%;
  background-color: #f9f9f9;
  margin: 7% 10%;
}

.preview h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
